.div_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    width: 800px;
    height: 200px;
    border: 3px solid darkorange;
    overflow: hidden;
    box-sizing: border-box;
}

.content {
    display: flex;
}

nav {
    width: 100px;
    height: 400px;
    border-right: 3px solid darkorange;
    border-left: 3px solid darkorange;
    overflow: hidden;
    box-sizing: border-box;
}

section {
    width: 700px;
    height: 400px;
    border-right: 3px solid darkorange;
    overflow: hidden;
    box-sizing: border-box;
}

.user_content{
    white-space: pre-line;
    /* text-align: start; */
}

footer {
    width: 800px;
    height: 200px;
    border: 3px solid darkslategrey;
    border-bottom: 3px solid rgb(11, 12, 12);
    overflow: hidden;
    box-sizing: border-box;
}

.numbers_by_user{
    white-space: pre-line;
}
