@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-size: 20px;
}

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: hsla(292, 100%, 95%, 1);

}

.container {
    width: 80%;
    margin: 0 auto;
}

.header-top {
    background-color: hsla(227, 61%, 36%, 1);
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    align-items: center;
    /* border: 2px solid rgb(100, 200, 100); */
    box-sizing: border-box;
}

.header-top_navigation_logo {
    display: flex;
    align-items: center;
}

.header-top_navigation_list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 80%;
    /* border: 1px solid darkorange; */
    text-align: center;
}

.header-top_navigation_list-item a {
    color: aliceblue;
    text-decoration: none;
    font-size: .8rem;
}

.title {
    background-color: hsla(194, 100%, 87%, 1);
    /* margin: 0; */
}

.title h2 {
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    font-style: italic;
    padding: 1rem 0;
}

.list {
    background-color: hsla(0, 0%, 100%, 1);
    padding: .5rem;
    margin: 1rem auto;
    text-align: center;
    font-weight: 400;
    font-size: 1.04rem;
}

.card {
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    position: relative;
    top: 0;
    margin: 2rem 0;
    transition: all 1ms;

}

.card *{
    transition: all 1ms;
}

.card>.card_image {
    width: 30%;
    min-height: 100%;
    padding-top: .5rem;
    /* padding-left: .5rem; */
    padding-right: .9rem;
    /* border: 3px solid darkgoldenrod; */

}

.card>.card_description {
    width: 60%;
    /* border: 2px solid rgb(23, 129, 17); */
}

.card_image >.card_image_items {
    width: 100%;
    min-height: 100%;

}

.card .card_description-title {
    font-weight: 700;
    font-style: italic;
    font-size: 1.8rem;
    border-bottom: 3px solid hsla(0, 0%, 100%, 1);
    color: hsla(227, 25%, 27%, 1);
}

.card .card_description-content {
    background-color: rgb(157, 180, 188);
    margin-top: .5rem;
    padding: .3rem 1rem 1rem .6rem;
    background-color: hsla(194, 100%, 97%, 1);
    font-size: 400;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

.star, .button {
    position: absolute;
}

.button{
    bottom: 5%;
    right: -3%;
    background-color: hsla(228, 61%, 36%, 1);
    color: hsla(0, 0%, 100%, 1);
    text-decoration: none;
    width: 10rem;
    text-align: center;
    border-radius: 50px;
    padding: .7rem 0;
}

.star{
    top: 2%;
    right: 1%;
    color: #fff;
    stroke:rgb(56, 207, 249);
}

.card:hover .star path{
    fill: yellow;
    stroke:#f9f938;
}

.card:hover .button{
    background-color: hsla(338, 94%, 48%, 1);

}

.card:hover{
    background: hsla(194, 83%, 55%, 1);
    box-shadow: 1px 1px 25px 1px rgb(109, 109, 230);
}