@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

body{
    
    margin: 0;
}

/* --- intake main flow form styles ---*/

.form-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 0 10px;
    max-width: 50%;
}

.intake {
    padding-top: 64px;
    font-size: 24px;
}

.mandatory_fields {
    padding: 79px 0 24px;
    font-size: 14px;
}

.intake,
.mandatory_fields {
    padding-left: 150px;
    margin: 0;
}

.left_title {
    padding-left: 55px;
    margin: 0;
}

.select_red {
    color: red;
}

.main_horizontal_wrap,
.main_horizontal_middle,
.main_official,
.main_system {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border-bottom: 2px solid rgb(219, 159, 20); */
}

.block_title {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 32px 100px;
    font-weight: 700;
    font-size: 20px;
}

.main_horizontal,
.horizontal_middle,
.official,
.system {
    display: flex;
    flex-direction: row;
}

.official,
.system {
    padding-bottom: 32px;
}

.main_horizontal,
.horizontal_middle,
.official,
.system {
    border-bottom: 2px solid hsla(0, 0%, 82%, 1);
}

.login_right_content {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}

.arrow_list_icon {
    background-image: url(../image/input_list_arrow_icon.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 100%;
}

.search_icon {
    background-image: url(../image/input_search_icon.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 98%;
}

.red_ {
    color: red;
}

.optional {
    font-size: 14px;
}

.fee {
    display: flex;
    width: 400px;
    text-align: center;
}

.exempt {
    margin-top: 7px;
}

.footer_form_button {
    display: flex;
    justify-content: flex-end;
}

.footer_form_button p {
    background-color: blue;
    border: 1px solid blue;
    border-radius: 7%;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 21%;
}

.footer_form_button p>a {
    text-decoration: none;
    color: white;
}

.left_column,
.right_column {
    width: 50%;
}

.information_left_content,
.information_left_content_middle,
.left_official,
.system_left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
}

.information_right_content,
.information_right_content_middle,
.right_official,
.system_right {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.input_field {
    display: flex;
    flex-direction: column;
}

.input {
    width: 392px;
    height: 40px;
    margin-top: 10px;
}


/*---- registration form styles -----*/

.main_horizontal-registr {
    display: flex;
    background: hsla(212, 100%, 7%, 1);
}

.registration_left_image {
    width: 50%;
    text-align: center;
    padding-top: 70px;
}

.registration_right_content {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: right;
    align-items: center;
}

.main_horizontal-registr .title{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 45px;
    color: hsla(0, 0%, 100%, 1);
}

.registration_right_content input{
    margin: 0;
}

.registration_right_content .input_field label{
    font-family: 'Padauk', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 1); 
}

.home{
    margin-bottom: 50px;
}

footer button {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    padding: 12px 75px;
    font-size: 20px;
    font-weight: 700;
    color: hsla(0, 0%, 100%, 1);
    background-color: hsla(212, 99%, 39%, 1);
    border-radius: 5px;
    border-color: hsla(212, 100%, 7%, 1);   
}

footer .submit_button{
    margin: 0;
    text-transform: uppercase;
}


/* --- login page styles ----*/

.login__main_horizontal{
    display: flex;
    background-color:  hsla(212, 100%, 7%, 1);
}

.login_left_image{
    width: 50%;
    text-align: center;
    padding-top: 70px;
}

.login_right_content{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    padding-top: 85px;
}

button p{
    margin: 0;
}
.login_button{
    font-family: 'Padauk', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

button{
    text-transform: uppercase;
    display: flex;
    margin-top: 20px;
    padding: 10px 75px;
    font-size: 20px;
    font-weight: 700;
    color: hsla(0, 0%, 100%, 1);
    background-color: hsla(212, 99%, 39%, 1);
    border-radius: 5px;
    border-color: hsla(212, 100%, 7%, 1);
    
    /* font-family: 'Padauk', sans-serif;
    font-size: 20px;
    font-weight: 700; */
}

.login__main_horizontal .title{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 45px;
    color: hsla(0, 0%, 100%, 1);
}

.login_right_content .input_field label{
    font-family: 'Padauk', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 1);
}

.not_a_user{
    font-family: 'Padauk', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 1);
}

.form_2, .register_now{
    font-family: 'Padauk', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.login_right_content .form_2 a{
    text-decoration: none;
    color: hsla(212, 99%, 64%, 1);    
}

.login_right_content p{
    margin: 0;
}

.login_right_content .register_now a{
    text-decoration: none;
    color: hsla(212, 99%, 64%, 1); 
}

.login_right_content .email{
    margin-bottom: 20px;
}
.login_right_content .input_field input{
    margin: 0;
}

