body {
    width: 100%;
    margin: 0;
    background-color: #383535;
}

/* .conteiner{
    width: 80%;
} */

/*------- header with logo, list, top right button */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.header_logo {
    margin-left: 30px;
}

.header_list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: calc((65%/5)*5);
    list-style: none;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: hsla(0, 0%, 100%, 1);
}

/* ------hover for all lists across page */

.list_items:hover {
    color: hsla(37, 100%, 63%, 1);
    cursor: pointer;
}

.header_top_right_button {
    /* border: 2px solid darkgoldenrod; */
    border-radius: 30px;
    width: 80px;
    text-align: center;
    padding: 13px 10px;
    background-color: hsla(37, 100%, 63%, 1);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    margin-right: 35px;
}

/*------ info box with text and boy image */
.user_info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 70px;
}

.user_info_title {
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
}

#user_name {
    color: #FFB742;
    text-decoration: underline;
}

.user_info_creative {
    text-align: center;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    line-height: 91px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0px;
    padding-bottom: 35px;
}

.user_info_text {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
}

.user_info_photo {
    width: 210px;
    height: 222px;
}

/* ---color text for .user_info_title, .user_info_creative, .user_info_text */

.user_info_title,
.user_info_creative,
.user_info_text {
    color: hsla(0, 0%, 100%, 1);
}

/*--------- three box in row*/
.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid darkblue; */
    margin: 0 auto;
    padding-right: 0px;
}

.boxes_items {
    display: inline-flex;
    justify-content: row;
    align-items: center;
    border: 1px solid hsla(216, 6%, 17%, 1);
    border-radius: 10px;
    width: 400px;
    height: 115px;
    text-align: center;
    margin: 10px 5px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    line-height: 31px;
    background-color: hsla(216, 6%, 17%, 1);
    color: hsla(0, 0%, 100%, 1);
}

.boxes_items:hover .box_numbers {
    color: black;
}

.boxes_items_text {
    padding-left: 45px;
}

.box_numbers {
    color: hsla(37, 100%, 63%, 1);
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}

/* ----hover for three boxes */
.boxes_items:hover {
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
    cursor: pointer;
    color: rgb(49, 36, 36);
}

.boxes_img {
    padding-left: 30px;
}

/*---------- about area styles */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 221px;
}

.about_photo {
    width: 40%;
}

.about_content {
    width: 50%;
    padding-left: 74px;
}

.about_img {
    width: 100%;
}

/* ----- about_text, programming_text styles*/
.about_text,
.programming_text {
    /* border: 3px solid darkorange; */
    border-radius: 20px;
    padding: 7px 5px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: hsla(0, 0%, 83%, 1);
}

.about_text {
    width: 672px;
    height: 176px;
}

/* ---- about and programming headers styles */

.about_header,
.programming_header {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    border: 1px solid darkslategrey;
    border-radius: 30px;
    background-color: rgb(60, 70, 70);
    width: 100px;
    padding: 5px 10px;
    color: hsla(37, 100%, 63%, 1);
    text-align: center;
    margin-bottom: 7px;
}

/* -------featured header and customer header styles */

.featured_header,
.customer_header {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    border: 1px solid darkslategrey;
    border-radius: 30px;
    background-color: rgb(60, 70, 70);
    padding: 5px 10px;
    color: hsla(37, 100%, 63%, 1);
    text-align: center;
    margin: 0 auto 7px;
}

.featured_header {
    width: 100px;
}

.customer_header {
    width: 150px;
}

/* -------title for about, programming, featured and cuastomer areas*/

.about_title,
.programming_title,
.featured_title,
.customer_title {
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin: 5px 0 15px;
    color: hsla(0, 0%, 100%, 1);
}

.programming_title{
    line-height: 56.25px;
}

.featured_title,
.customer_title {
    text-align: center;
    margin: 5px 0 35px;
}

/* ---- hire me button */
.hire_me {
    border-radius: 30px;
    width: 147px;
    text-align: center;
    padding: 13px 10px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    background-color: hsla(37, 100%, 63%, 1);
}

/* -------programming skills */

.programming_skills {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    margin-top: 18px;
}

.programming_skills-content,
.about_content {
    display: flex;
    flex-direction: column;
    /*Ви написали flex-direction: column; - не вірно. Не розумію. Чому? Як тоді вирівняти контент у цих блоках вертикально? */
}

/* -----sprite image for programming */

.images_sprite {
    display: flex;
    flex-direction: column;
    /* margin: 30px 0 40px 0; */
    width: 45%;
}

.sprite_row_1 {
    display: flex;
    flex-direction: row;
}

.sprite_row_2 {
    display: flex;
    flex-direction: row;
}

.images_sprite-items {
    width: 50px;
    height: 50px;
    margin: .3rem;
    border: 20px solid darkslategray;
    background-image: url('/image/sprite_img.svg');
    border-radius: 10%;
}

.images_sprite-items:hover {
    border-color: #db9d3a;
    cursor: pointer;
}

.first_left_top {
    background-position: -14.5px -14px;
    background-repeat: no-repeat;
}

.second_top {
    background-position: -111px -14px;
    background-repeat: no-repeat;
}

.third_top {
    background-position: -207px -15px;
}

.fourth_top {
    background-position: -303px -16px;
}

.fifth_top {
    background-position: -399px -15px;
}

.sixth_top {
    background-position: -495px -15px;
}

.seventh_bottom {
    background-position: -10px 64px;
}

.eigth_bottom {
    background-position: -111px 66px;
}

.nineth_bottom {
    background-position: -206px 65px;
}

.tenth_bottom {
    background-position: -303px 65px;
}

.eleventh_bottom {
    background-position: -398px 65px;
}

.twelveth_bottom {
    background-position: -494px 65px;
}

/* ------ featured work */

.featured_work {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}

.featured_list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    margin: 10px 70px 20px;
    color: hsla(0, 0%, 100%, 1);
    /* text-align: center; */
}

.vertical_left,
.vertical_middle,
.vertical_right {
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    /* padding-left: 20px; */
}

.featured_img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img_vertical_1,
.img_vertical_2,
.img_vertical_3 {
    width: 30%;
}

.img_left_top,
.img_middle_top,
.img_right_top,
.img_left_bottom,
.img_middle_bottom,
.img_right_bottom {
    margin-bottom: 20px;
    width: 100%;
}

/* -----customer reviews */

.three_blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.customer_reviews_block {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
}

.customer_review {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 51px 0 33px;
    margin-top: 0;
    margin-bottom: 10px;
}

.customer_info {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.customer_photo {
    margin-right: 20px;
    width: 72px;
    height: 73px;
}

.customer_name_and_prof {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.customer_name {
    margin: 0;
    padding: 5px 0 0px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

.customer_profession {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.block_left,
.block_middle,
.block_right {
    display: flex;
    flex-direction: column;
    border: 1px solid darkblue;
    border-radius: 10px;
    width: 30%;
    height: 450px;
    background-color: hsla(0, 0%, 100%, 1);
}

.block_left_stars,
.block_middle_stars,
.block_right_stars {
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* margin: 10px; */
    padding: 51px 0 22px 33px;
    width: 10%;
}

.img_star {
    padding-right: 15px;
}

/* -----footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 80px 0 0;
    background-color: hsla(0, 0%, 11%, 1);
    width: 100%;
}

.footer_user_info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* border: 2px solid darkgoldenrod; */
    width: 240px;
    padding-left: 30px;
}

.footer_useful_links,
.footer_sotial_media {
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* border: 2px solid darkgoldenrod; */
    width: 180px;
    font-family: 'Work Sans';
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.footer_titles {
    font-family: 'Work Sans';
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: hsla(100, 53%, 97%, 1);
}

.footer_useful_links_items,
.footer_sotial_media_items,
.newsletter_item {
    display: flex;
    flex-direction: column;
    justify-items: start;
    padding: 0;
    font-family: 'Work Sans';
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    list-style: none;
    color: hsla(0, 0%, 48%, 1);
}

.footer_kartik_item {
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: hsla(0, 0%, 83%, 1);

}

.footer_newsletter {
    display: flex;
    flex-direction: column;
    justify-items: start;
    /* border: 2px solid darkgoldenrod; */
    width: 240px;
    padding-right: 20px;
}

.footer_kartik {
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 0;
    color: hsla(37, 100%, 63%, 1);
}