.screen div {
  width: 100px;
  height: 100px;
  border: 3px darkblue;
  background-color: brown;
  margin-bottom: 5px;
  /* display: flex; */
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
}

.screen {
  display: flex;
  flex-wrap: wrap;
  /*wrap дозволяє робити переноси елементам коли екран зменш*/
  /* align-items: center; */

}

.checked {
  color: rgb(225, 201, 119);
  border: 3px dotted orangered;

}