/* ---screen one--- */
@keyframes images_show_left_two{
    from{
        transform: translateX(-100vh);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes images_show_right_two{
    from{
        transform: translateX(+100vh);
    }
    to{
        transform: translateX(0);
    }
}

/* @keyframes images */

/* --animation for screen two--- */

@keyframes images_turning_around-one{
    from{
        top: 0;
        left: 0;
    }
    25%{
        top: 0;
        left: 50%;
    }
    50%{
        top: 50%;
        left: 50%;
    }
    75%{
        top: 50%;
        left: 0;
    }
    to{
        top: 0;
        left: 0;
    }

}

@keyframes images_turning_around-two{
    from{
        top: 0;
        left: 50%;
    }
    25%{
        top: 50%;
        left: 50%;
    }
    50%{
        top: 50%;
        left: 0;
    }
    75%{
        top: 0;
        left: 0;
    }
    to{
        top: 0;
        left: 50%;
    }
}

@keyframes images_turning_around-three{
    from{
        top: 50%;
        left: 50%;
    }
    25%{
        top: 50%;
        left: 0;
    }
    50%{
        top: 0;
        left: 0;
    }
    75%{
        top: 0;
        left: 50%;
    }
    to{
        top: 50%;
        left: 50%;
    }
}

@keyframes images_turning_around-four{
    from{
        top: 50%;
        left: 0;
    }
    25%{
        top: 0;
        left: 0;
    }
    50%{
        top: 0;
        left: 50%;
    }
    75%{
        top: 50%;
        left: 50%;
    }
    to{
        top: 50%;
        left: 0;
    }
}