/* Розширення > 992px
Все як на макеті, але якщо розширення буде більшим ніж 1620px, то мають бути бокові відступи. */

@media screen and (min-width: 1620px) {
    body{
        width: 1200px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 993px){
    body{
        width: 100%;
        margin: 0;        
    }
    /* .header, main, footer{ */
        /* margin: 10px; */
    /* } */
}

/* Розширення < 992px
Gallery
Робимо 3 рядки по 2 картинки ліві картинки виїжджають з лівої сторони, а праві з правої.
Services
картинку перукаря робимо першою та з нової строки
Залишаємо анімацію кружків з тестом
Team
2 співробітники на одній строці при наведені на зображення плавно з'являється ім'я члена команди
Contact Us
Першою показується Форма потім мапа */

@media (max-width: 991px){
    /* body{
        width: 500px;
    } */
    
    .screen_one__container{
        /* width: 700px; */
        display: flex;
        
        /* flex-wrap: wrap; */
        flex-flow:column wrap;
        

        /* justify-content: center; */
        /* background-color: blue; */
        /* justify-content:space-around; */
        /* align-items: center; */
    }

    /* @frame animation_ */

    /* animation */

    .screen_one_left_image, .screen_one_right_image{
        display: flex;
        order: 1;
        /* flex-wrap:wrap; */
        flex-flow:column wrap;
        /* z-index: 1; */
    }

    /* повинна виїхати перша картинка діва зліва */
    .screen_one_left__two_images:nth-child(1){
        order:2;
        flex-wrap: wrap;
    }

    /* повинна виїхати перша картинка діва зправа */
    .screen_one_right__two_images:nth-child(1){
        order:2;
        flex-wrap: wrap;
    }
    
    /* повинна виїхати друга картинка діва зліва */
    .screen_one_left__two_images:nth-child(2){
        order:3;
        flex-wrap: wrap;
    }

    /* повинна виїхати друга картинка діва зправа */
    .screen_one_right__two_images:nth-child(2){
        order:3;
        flex-wrap: wrap;
    } */

    /* задання стилів всім зображенням у першому екрані */
    .screen_one__container img{
        width: 100%;
        box-sizing: border-box;
        /* flex-grow: 1; */
        /* order: 2; */
    }
    
    /* second screen services - media queries */

    .services {
        display: flex;
        flex-wrap: wrap;
    }

    /* third screen - media queries */

    .screen_three{
        display: flex;
        flex-wrap: wrap; 
    }

    .screen_three__team:nth-child(1), 
    .screen_three__team:nth-child(2){
        display: flex;
        flex-wrap: wrap;
        order: 1;
    }

    .screen_three__team:nth-child(3), 
    .screen_three__team:nth-child(4){
        display: flex;
        flex-wrap: wrap;
        order: 2;
    }
}


/* Розширення < 992px
Gallery
Робимо 3 рядки по 2 картинки ліві картинки виїжджають з лівої сторони, а праві з правої.
Services
картинку перукаря робимо першою та з нової строки
Залишаємо анімацію кружків з тестом
Team
2 співробітники на одній строці при наведені на зображення плавно з'являється ім'я члена команди
Contact Us
Першою показується Форма потім мапа */

@media screen and (max-width: 991px) {
    /* body{ */
        /* margin: 9px; */
    /* } */
}