@import url(./animation.css);
@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,600;1,700&display=swap');
@import url(./media.css);

:root {
    font-family: 'Rosario', sans-serif;
    font-size: 8px;
}

body {
    margin: 0;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;

    top: 0;
    position: sticky;
    z-index: 2;
}

.header .logo {
    align-self: stretch;
}

.header .logo img {
    height: 100%;
}

.header_nav {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-right: 2rem;
}

.header_nav a {
    color: white;
    text-decoration: none;
    font-size: 3.6rem;
    font-weight: 700;
    font-style: italic;
}

.page_wrapper{
    min-height: 89vh;
}

/* sreen first */
.screen_one {
    box-sizing: border-box;
    overflow: hidden;
    /* border: 3px solid darkgreen; */

    position: relative;
}

.screen_one__container {
    display: flex;
    justify-content: center;
    height: 89vh;
}

.screen_one__container>div {
    width: 23%;
    /* border: 1px solid darkorange; */
    justify-content: space-around;
}

.screen_one_left_image,
.screen_one_right_image {
    margin: 0;
    display: flex;
    /* justify-content:flex-end; */
    align-items: flex-end;
    height: 70%;
    align-self: center;
}

.screen_one_left_image {
    transform: translateX(-100vh);
    animation: images_show_left_two 2s linear forwards;
}

.screen_one_right_image {
    transform: translateX(+100vh);
    animation: images_show_right_two 2s linear forwards;
}

/* two images in one container --- */
.screen_one_left__two_images,
.screen_one_right__two_images {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen_one_left__two_images {
    align-items: center;
    transform: translateX(-100vh);

    animation: images_show_left_two 1s linear forwards;
}

.screen_one_right__two_images {
    align-items: center;
    transform: translateX(+100vh);

    animation: images_show_right_two 1s linear forwards;
}

.screen_one_left__two_images>div:first-child {
    height: 45%;
    width: 90%;
    /* border: 1px solid darkcyan; */
}

.screen_one_left__two_images>div:last-child {
    height: 45%;
    width: 90%;
    /* border: 1px solid darkgoldenrod; */
}

.screen_one_image {
    height: 100%;
    width: 100%;
}

.screen_one_right__two_images>div:first-child {
    height: 45%;
    width: 90%;
    /* border: 1px solid darkcyan; */
}

.screen_one_right__two_images>div:last-child {
    height: 45%;
    width: 90%;
    /* border: 1px solid darkgoldenrod; */
}

/* ----screen second - services */

.screen_two {
    /* height: 90vh; */
    /* border: 3px solid rgb(221, 248, 71); */
    display: flex;
    position: relative;
}

.screen_two__left {
    width: 50%;
    /* border: 2px solid rgb(11, 184, 37); */
    display: flex;
    flex-wrap: wrap;
    /* box-sizing: border-box; */
    position: relative;
    justify-content: center;
}

.screen_two__left>div {
    width: 50%;
    height: 50%;
    /* border: 1px solid darkgoldenrod; */
    box-sizing: border-box;
    position: absolute;
}

.screen_two__left p {
    font-weight: 700;
    font-style: italic;
    font-size: 4.8rem;
}

.screen_two__left-one,
.screen_two__left-two,
.screen_two__left-three,
.screen_two__left-four {
    width: 50%;
}

.screen_two__left-one {
    top: 0;
    left: 0;
    animation: images_turning_around-one 5s linear infinite;
}

.screen_two__left-two {
    top: 0;
    left: 50%;
    animation: images_turning_around-two 5s linear infinite;
}

.screen_two__left-three {
    top: 50%;
    left: 50%;
    animation: images_turning_around-three 5s linear infinite;
}

.screen_two__left-four {
    top: 50%;
    left: 0;
    animation: images_turning_around-four 5s linear infinite;
}

.screen_two__left img {
    width: 60%;
    display: block;
    margin: 1.5rem auto 0.5rem;
}


.screen_two__right {
    width: 50%;
    /* border: 2px solid darkmagenta; */
}

.screen_two__right>img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.screen_two p {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    /* font-style: italic; */
    margin: 0;
}

/* --- screen third ---- */

.screen_three__title {
    /* min-height: 10vh; */
 line-height: 116.35px;
    font-size: 9.6rem;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    height: 20vh;
}

.screen_three__team {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    padding: 2% auto;
}

.screen_three__team>div {
    width: 20%;
    position: relative;
    /* border-radius: 4rem; */
}

.screen_three__team img {
    width: 80%;
    border-radius: .2rem;
}

.screen_three__team:hover>div {
    filter: brightness(.45);
}

.screen_three__team>div:hover {
    filter: none;
}

.cards {
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    text-align: center;
    /* border-bottom-left-radius: .1rem;
    border-bottom-right-radius: 1.5rem; */
}

.cards .name {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    bottom: 0;
    width: 80%;
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards:hover .name {
    color: hsla(0, 100%, 99%, 1);
    font-size: 2rem;
    height: 20%;
    margin: 0 auto;

    border-bottom-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;

    /* object-fit: cover; */
    /* object-position: center; */
}

/* -----screen fourth--- */

.screen_four {
    /* border: 3px dotted darkgoldenrod; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 3px solid darkgreen; */
}

.screen_four__left-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    /* border: 3px solid darkblue; */
}

.screen_four_left {
    /* border: 2px solid darkcyan; */
    width: 55%;
    display: flex;
    flex-direction: column;
    /* background-color: darkorange; */
}

.screen_four_left p {
    text-align: center;
    font-size: 6rem;
    font-style: italic;
    font-weight: 700;
    margin: 0;
}

.screen_four_right {
    width: 35%;
    /* border: 2px solid darkolivegreen; */
}

.screen_four_right img {
    /* border: 3px solid darkmagenta; */
    width: 90%;
}

.form_section_wrapper {
    margin: 0 auto;
    padding: 3%;
    width: 85%;
    background-color: hsla(0, 0%, 90%, 1);
}

.input_forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    /* background-color: aqua; */
}

.input_ {
    width: 47%;
    height: 7vh;
}

.input_mes {
    width: 99%;
    min-height: 110px;
}

.input_name_email {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.input_forms .name {
    margin-right: 30px;
}

.input_message {
    width: 100%;
    box-sizing: border-box;
    border: none;
    resize: none;
    padding: 3%;
}

#input_message {
    min-width: 5px;
}

/* footer styles */

.footer {
    height: 25%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer p {
    margin: 0;
    font-weight: 600;
    font-size: 2.5rem;
    font-style: italic;
}

.footer a {
    text-decoration: none;
    color: black;
}

.footer .footer_contacts_name {
    font-style: normal;
}

.footer .footer_title {
    font-style: normal;
    font-weight: 700;
    font-size: 3.06rem;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
}

.schedule span {
    font-weight: 700;
    font-size: 2rem;
}

.contact_us {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contact_us_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.contact_us span {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.contact_us a {
    text-decoration: none;
    display: flex;
}

.contact_us img {
    margin: 0 10px;
}

#facebook_img {
    margin: 5px;
}