        .main {
            background-color:#F0FFF0;
        }

        div{
            border-style:solid;
            border-color: black;
            border-width: 2px;
            width: 420px;
            min-height: 480px;
            background-color: black;
            margin: 0 auto auto auto;
            /* display: block; */
        }

        #image_ {
            display: block;
            margin: 11px auto;
        }

        .welcome{
            color: white;
            width: 200px;           
            margin: 10px auto;
            text-align: center;
            padding-top: 10px;
            letter-spacing: 13px;
            font-size: 30px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .log_in{
            margin-top: 45px;
            border-style: solid;
            border-color: white;
            border-width: 4px;
            min-height: 43px;
            width: 285px;
        }

        .log_in_{
            font-size: 16px;
            text-align: center;
            margin: 11px auto;
            font-family:Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            font-weight:bold;
            letter-spacing: 4px;
            color: white;
        }

        .sign_up{
            margin-top: 25px;
            border-style: solid;
            border-color: white;
            border-width: 4px;
            min-height: 43px;
            width: 285px;
        }

        .sign_up_{
            font-size: 16px;
            text-align: center;
            margin: 11px auto;
            font-family:Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            font-weight:bold;
            letter-spacing: 4px;
            color: white;            
        }        
        
        a{
            text-decoration: none;
        }
        