.main{
    width: auto;
}
.header{
    font-size: 2rem;
    margin: .9rem auto .6rem;
    text-align: center;
    letter-spacing: .2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner{
    background-image:url(/image/banner_image_1.png);
    width: 100%;
    min-width: 450px;
    background-position:50%;
    background-repeat: no-repeat;
    background-size:cover;
    /* border: 3px solid green; */
}

.image-flag{
    width: 1.4em;
    float: left;
    padding: 10em 1.5em 18em 4em;
}

.banner_text{
    font-size: 35px;
    padding: 4.53em 0 5em 1em;
    margin: .1em 0;
    color: white;    
}

.neymovirni{
    margin-left: 3em;
}

/* .banner_{
    background-image: url(./image/flag.png), url(./image/banner_image_1.png);
    width: 100%;
    min-width: 450px;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: 5.5%, 50% ;
    background-size: 1.85%, 100%;
    /* border: 3px solid green; */
/* }  */

/* .banner_text_{
    font-size: 35px;
    padding: 5em 0 5em 3.7em;
    margin: 0;
    color: #fff;
}  */

#gradient{    
    width: 100%;
    max-width: 500px;
    height: 12px;    
    background-image: linear-gradient(to right,rgba(44, 204, 244, 0.83) 15%, rgba(11, 0, 227, 0.961) 50%, 
     yellow 50%, rgb(244, 239, 190));
}

.images_div{
    /* width: 100%; */
    padding: 1em 0 1em 1em;
    /* margin: 1em 0 1em 5em; */
    display: inline-block;
    text-align: center;    
}

.image_border{
    border: 4px solid rgb(20, 20, 129);    
    border-radius: 8%;    
    padding-bottom: 4em;
    margin: 1em 2em 1em 1em;   
    display: inline-block;
    height: 237px;    
}

.shadow_1{
    box-shadow: -10px 10px 30px 1px rgb(143, 223, 234);      
}

.shadow_2{
    box-shadow: 0px 7px 30px 1px rgb(143, 223, 234), 0px 7px 30px 1px rgb(143, 223, 234); 
}

.shadow_3{
    box-shadow: 10px 10px 30px 1px rgb(143, 223, 234); 
}

.image_card{
    width: 15.5em;
}

.image_title_link{
    font-size: 16px;
    text-align: left;
    color: blue;
    border-spacing: 5px;    
}

.image_text{
    font-size: 13px;
    text-align: left;
    color: rgba(255, 153, 0, 1);    
}

.map{
    width: 100%;
    min-width: 450px;
    padding: 1em auto;
    display: block;
}

.our_Ukraine{
    text-align: center;
    font-size: 35px;
    margin: .5em auto .2em;
    /* display: block; */
}

.blue_line{
    border: 1px solid blue;
    height: .4em;
    width: 50%;
    background-color: blue;
    margin: .1em auto 2em;    
}

.image_map{
    width: 70%;
    margin: 0 auto;
    display: block;
}

.go_button{
    border: 2px solid blue;
    border-radius: 25px;
    margin: 1em auto;
    width: 220px;
    text-align:center;
    font-size: 30px;
    background-color: blue;
    color: #ffff;    
}

.title_blue {
    color: blue;
}
.title_yellow_header{
    color:#ffd700;
}
.title_yellow_footer{
    color: #ffff00;
}
.footer{
    text-align: center;
    background-color: darkblue;
}
.footer_title{
    font-size: 2rem;
    margin: .3rem auto 0;
    padding-top: .3em;
    text-align: center;
    letter-spacing: .2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: auto;
}

.footer_email, .footer_phone{
    margin: .2em auto;
    padding: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: .13em;
}
.footer_email{
    font-size: 1em;
}

.footer_phone{
    font-size: 1.3em;
}

.icon_{
    padding-bottom: 1em;
}

.icon{
    padding: 0 .5em;
    max-height: 4px;
}

a, .a_footer{
    text-decoration: none;
}

.a_footer{
    color: rgba(168, 157, 157, 1);
}

 